@import "tailwindcss";
@keyframes text-slide {
  0%, 45% {
    transform: translateY(0%);
  }
  50%, 95% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-text-slide {
  animation: text-slide 4s ease-in-out infinite;
}
